@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alegreya&family=Amaranth:ital@0;1&family=Caveat&family=Croissant+One&family=Dancing+Script&family=EB+Garamond&family=Great+Vibes&family=Imbue:opsz@10..100&family=Mitr:wght@500&family=Open+Sans:wght@400;500&family=Pacifico&family=Poltawski+Nowy&family=REM&family=Roboto:wght@100&family=Rouge+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: EB Garamond;
}